@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Thank you for registering in Medi<span class="text-warning">Care</span> Please check your email to confirm your account.
    </p>
}

