@model BusinessLogicLayer.DTOs.DoctorDto.DoctorDTO

<div class="container m-auto p-auto">
    <div class="row shadow-sm">
        <div class="text-start col-6">
            <h2 class="text-dark">
                Edit Doctor Information
            </h2>
        </div>
    </div>

    <form asp-controller="Doctor" asp-action="Edit" method="post" class="mt-4" enctype="multipart/form-data" style="text-align: start;">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specialty" class="form-label"></label>
            <input asp-for="Specialty" class="form-control" />
            <span asp-validation-for="Specialty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PraxisAdress" class="form-label"></label>
            <input asp-for="PraxisAdress" class="form-control" />
            <span asp-validation-for="PraxisAdress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefon" class="form-label"></label>
            <input asp-for="Telefon" class="form-control" />
            <span asp-validation-for="Telefon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MedicalLicenseNumber" class="form-label"></label>
            <input asp-for="MedicalLicenseNumber" class="form-control" />
            <span asp-validation-for="MedicalLicenseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
            {
                <img src="@Model.ProfilePicture" alt="Doctor Image" style="max-width: 150px;" />
            }
            <label asp-for="ProfilePicture" class="form-label"></label>
            <input asp-for="ProfilePicture" type="file" class="form-control" />
            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
